<h2>メモタイトル</h2>
<% @target_memo.each do |memo| %>
  <p>
  <%= escape_string(memo["title"]) %>
  </p>
  <h2>メモ本文</h2>
  <p class="memo_content">
  <%= escape_html(memo["content"]) %>
  </p>
  <br>
  <form method="get" action="/memos/<%= memo["id"] %>/edit">
    <input type="submit" value="変更">
  </form>
  <form method="post" action="/memos/<%= memo["id"] %>">
    <input type="hidden" name="_method" value="delete">
    <input type="text" name="delete_id" value="<%= memo["id"] %>" hidden>
    <input type="submit" value="削除">
  </form>
<% end %>
